@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nunito:wght@300;400;700&display=swap');

$family-sans: 'Nunito', sans-serif;
$family-monospace: 'Courier Prime', monospace;
$family-primary: $family-sans;

@import "../node_modules/bulma/bulma.sass";
